<link href="https://fonts.googleapis.com/css?family=Montserrat:400,700,200" rel="stylesheet">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css"
  integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
<nav class="navbar navbar-top navbar-expand-md navbar-light navbar-transparent"
  color-on-scroll="100">
  <div class="container">
    <div class="dropdown button-dropdown">
      <a href="#pablo" class="dropdown-toggle" id="navbarDropdown" data-toggle="dropdown">
        <span class="button-bar"></span>
        <span class="button-bar"></span>
        <span class="button-bar"></span>
      </a>

    </div>
    <div class="navbar-translate">
      <div class="container">

        <a href="/#/home">
          <img src="/assets/img/Image.png" height="60" alt="">
        </a>
        <a href="/#/home">
          <img src="/assets/img/text.png" height="60" width="100" alt="">
        </a>

        <!-- <div class="col">
          <img src="/assets/img/text.png" height="60" alt="">
        </div> -->
      </div>


      <button class="navbar-toggler navbar-toggler" type="button" data-toggle="collapse" data-target="#navigation"
        aria-controls="navigation-index" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-bar top-bar"></span>
        <span class="navbar-toggler-bar middle-bar"></span>
        <span class="navbar-toggler-bar bottom-bar"></span>
      </button>
    </div>
    <div class="collapse navbar-collapse justify-content-end" id="navigation"
      data-nav-image="../assets/img/blurred-image-1.jpg">
      <ul class="navbar-nav" style="margin-left: 100px;">


        <li class="nav-item font-weight-bold">
          <a class="nav-link btn-rounded " href="#">Product</a>
        </li>
        <li class="nav-item font-weight-bold">
          <a class="nav-link" href="#" routerLinkActive="active" [routerLink]="['/login']"><strong>Login</strong></a>
        </li>
        <li class="nav-item font-weight-bold">
          <a class="nav-link" rel="tooltip" title="" data-placement="bottom" href="https://www.facebook.com/DilenyTech"
            target="_blank" data-original-title="Follow us on Twitter">
            <i class="fab fa-twitter font-weight-bold"></i>
            <p class="d-lg-none d-xl-none">Twitter</p>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" rel="tooltip" title="" data-placement="bottom" href="https://www.facebook.com/DilenyTech"
            target="_blank" data-original-title="Like us on Facebook">
            <i class="fab fa-facebook-square"></i>
            <p class="d-lg-none d-xl-none">Facebook</p>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" rel="tooltip" title="" data-placement="bottom" href="https://www.facebook.com/DilenyTech"
            target="_blank" data-original-title="Follow us on Instagram">
            <i class="fab fa-instagram"></i>
            <p class="d-lg-none d-xl-none">Instagram</p>
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<div class="section " style="background-image: url('assets/img/newheader.jpg');background-size:cover; background-position: top center; min-height: 830px; ">
  <div class="row">
    <div  class="col-md-10 ml-auto mr-auto">
      <div  class="row">
        <div  class="col-md-4" >
        </div>
        <div  class="col-md-4" >
        </div>
        <div  class="col-md-4 " style="margin-top: 0.3cm;">
          <div  class="card card-pricing">
            <div  class="card-body">
              <div  class="card-icon"><span  class="icon-simple"><i
                     class="nc-icon nc-bank"></i></span></div>
              <h3  class="card-title">Text Here to Write</h3>
              <p  class="card-description"> For business projects, multiple websites for clients or
                for creating themes where your users will be charged for using it. Create multiple websites/apps for
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div  class="col-md-8 ml-auto mr-auto">
      <div  class="row">
        <div  class="col-md-6" style="margin-top: 2.5cm;margin-left: 36px;" >
          <div  class="card card-pricing">
            <div  class="card-body ">
              <div  class="card-icon"><span  class="icon-simple"><i
                     class="nc-icon nc-single-02"></i></span></div>
              <h3  class="card-title">Text Here to Write</h3>
              <p  class="card-description"> For personal websites, school projects, startups or any
                other project where your users will not be charged for using it. Create one single website/app for one
                client. </p>
            </div>
          </div>
        </div>
        <div  class="col-md-6">
        </div>
      </div>
    </div>
  </div>

</div>
<section class="section section-lg section-shaped " id="sec2" style="background: linear-gradient(87deg, #b4cce1 0, adjust-hue(#6adaff, 25%) 100%)" >
  <div class="header  py-7 py-lg-8">
    <div class="shape shape-style-1 shape-primary">
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      <span></span>
    </div>
    <div class="container py-md">
      <div class="row justify-content-between align-items-centerr">
        <div class="col-lg-5 mb-5 mb-lg-0">
          <div class="card-pricing">
            <div class="card-block">
              <h4 class="card-title">Card title</h4>
              <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
              <p class="card-text">
                Some quick example text to build on the card title
                and make up the bulk of the card's content.
              </p>
            </div>
          </div>
        </div>
        <div class="col-lg-6 mb-lg-auto">
          <!-- <div class="container">
          <div class="card text-white click-col" style="background-image: url(/assets/img/eva.jpg);">
            <img class="card-img d-none" src="/assets/img/eva.jpg"
              alt="Goverment Lorem Ipsum Sit Amet Consectetur dipisi?">
            <div class="card-img-overlay d-flex flex-column">
              <div class="card-body">
                <img src="/assets/img/eva.jpg" alt="">
              </div>
            </div>
          </div>
  
        </div> -->
          <div class="rounded shadow-lg overflow-hidden transform-perspective-right">
            <div class="card shadow">
              <img class="card-img" src="/assets/img/eva.jpg" alt="Bologna">
              <div class="card-img-overlay text-white d-flex flex-column justify-content-center">

              </div>

            </div>
          </div>

        </div>
      </div>
    </div>

    <div class="separator separator-bottom separator-skew zindex-100">
      <svg x="0" y="0" viewBox="0 0 2560 100" preserveAspectRatio="none" version="1.1"
        xmlns="http://www.w3.org/2000/svg">
        <polygon class="fill-default" points="2560 0 2560 100 0 100"></polygon>
      </svg>
    </div>

  </div>
</section>

<!-- Page content -->