<div class="header  pb-8 pt-5 pt-lg-8 d-flex align-items-center"
  style="min-height: 300px; background-image: url(assets/img/theme/patient-cover.jpg); background-size: cover; background-position: center top;">
  <!-- Mask -->
  <span class="mask bg-gradient-danger opacity-8"></span>
  <!-- Header container -->
  <div class="container-fluid mt--7">
    <div class="row">
      <div class="col-lg-7 col-md-10">
        <!-- <h1 class="display-2 text-white">Hello DR {{service.Doctor.name}}</h1> -->
        <!-- <p class="text-white mt-0 mb-5">This is your profile page. You can see the progress you've made with your work
          and manage your projects or assigned tasks</p>
        <a href="#!" class="btn btn-secondary">Edit profile</a> -->
      </div>
    </div>
  </div>
</div>
<form #userform="ngForm">
  <div class="container-fluid mt--7">
    <div class="row">

      <div class="col-xl-4 order-xl-2 mb-5 mb-xl-0">
        <div class="card-header border-0">
          <div class="row justify-content-center">
            <div class="col-lg-3 order-lg-2">
              <div class="card-profile-image">
                <a href="javascript:void(0)">
                  <img src="assets/img/theme/unnamed.png" class="rounded-circle">
                </a>
              </div>
            </div>
          </div>

          <div class="card-body pt-0 pt-md-9">

            <div class="text-center">
              <!-- , 23 -->
              <h3> {{service.Doctor.name}}<span class="font-weight-light"></span></h3>
              <!-- <div class="h5 font-weight-300">
                <i class="ni location_pin mr-2"></i>cairo, Egypt
              </div> -->

              <div class="h5 mt-4">
                <i class="ni business_briefcase-24 mr-2"></i> Radiologist - EL Safa Hospital
              </div>
              <div>
                <i class="ni education_hat mr-2"></i>Cairo University 
              </div>
              <!-- <hr class="my-4" />
              <p>Experienses.</p>
              <a href="javascript:void(0)">Show more</a> -->
            </div>
          </div>
        </div>
      </div>
      <div class="col-xl-8 order-xl-1">
        <div class="card  shadow">
          <div class="card-header  border-0">
            <div class="row align-items-center">
              <div class="col-8">
                <h3 class="mb-0" id="account">My account</h3>
              </div>
              <!-- <div class="col-4 text-right">
                <a href="#!" class="btn btn-secondary">Settings</a>
              </div> -->
            </div>

          </div>
          <div class="card-body">
            <form>

              <h6 class="heading-small text-muted mb-4">Dr information</h6>
              <div class="pl-lg-4">
                <div class="row">
                  <div class="col-lg-6">
                    <div class="form-group">
                      <label class="form-control-label" for="input-username">Name</label>
                      <input type="text" id="input-username" class="form-control form-control-alternative"
                        placeholder="Username" value="" name = "name" #name = "ngModel" [(ngModel)] = "service.Doctor.name">
                    </div>
                    
                  </div>
                  <div class="col-lg-6">
                    <div class="form-group">
                      <label class="form-control-label" for="input-email">Email address</label>
                      <input type="email" id="input-email" class="form-control form-control-alternative"
                        placeholder="Email@gmail.com" value="" name = "email" #email = "ngModel" [(ngModel)] = "service.Doctor.email"> 
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-lg-6">
                      <div class="form-group focused">
                          <label class="form-control-label" for="input-first-name">Mobile
                              Number</label>
                          <input type="text" id="input-mobilenumber"
                              class="form-control form-control-alternative"
                              placeholder="Mobile Number" name="mobileNumber"
                              #mobileNumber="ngModel" [(ngModel)]="service.ExamData.mobileNumber">
                      </div>
                  </div>
                  <div class="col-lg-6">
                      <div class="form-group focused">
                          <label class="form-control-label" for="input-specialization">Specialization
                              </label>
                          <input type="text" id="input-specialization"
                              class="form-control form-control-alternative"
                              placeholder="Specialization " name="Specialization" #specialization="ngModel"
                              [(ngModel)]="service.ExamData.Specialization">
                      </div>
                  </div>
              </div>
              </div>
              <!-- <hr class="my-4" /> -->
              <!-- Address -->
              <h6 class="heading-small text-muted mb-4">Contact information</h6>
              <div class="pl-lg-4">
                <div class="row">
                  <div class="col-md-12">
                    <div class="form-group">
                      <label class="form-control-label" for="input-location">Location</label>
                      <input id="input-location" class="form-control form-control-alternative" placeholder="Home Address"
                        value="15 may Cairo, nr. 2 Bl 1, Sc 1, Ap 09" type="text">
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-lg-6">
                    <div class="form-group">
                      <label class="form-control-label" for="input-city">City</label>
                      <input type="text" id="input-city" class="form-control form-control-alternative"
                        placeholder="City" value="Cairo">
                    </div>
                  </div>
                  <div class="col-lg-6">
                    <div class="form-group">
                      <label class="form-control-label" for="input-country">Country</label>
                      <input type="text" id="input-country" class="form-control form-control-alternative"
                        placeholder="Country" value="Egypt">
                    </div>
                  </div>
                </div>
              </div>
              <!-- <hr class="my-4" /> -->
              <!-- Description -->
              <!-- <h6 class="heading-small text-muted mb-4">About me</h6>
              <div class="pl-lg-4">
                <div class="form-group">
                  <label>About Me</label>
                  <textarea rows="4" class="form-control form-control-alternative"
                    placeholder="A few words about you ...">say something a bout yourself.</textarea>
                </div>
              </div> -->
            </form>
          </div>
          <div class="card-footer text-muted">
            <button class="btn btn-primary btn-lg float-right"
                    id="right" style="color:white;">
                Save
            </button>
            <!-- <div class="col align-self-end">
              <button type="button" class="btn btn-primary">Save</button>
            </div> -->
          </div>
        </div>
      </div>
    </div>
  </div>
</form>
