
       <mat-form-field >

      <tr><mat-label>Numer of Masses</mat-label></tr>
        <input matInput readonly="readonly" type="text"  value={{tabs.length}}  [formControl]="selected">
    </mat-form-field>

    <div class="clearfix">
        <button class="btn btn-secondary"   (click)="addTab()" >
            Add Mass
        </button>

    </div>
    <mat-tab-group class="example-card" [selectedIndex]="selected.value" appearance="outline" >
        <mat-tab *ngFor="let tab of tabs; let index = index" [label]="tab">
            <h3 class="form-control-alternative"
                style="margin-top: 18px; margin-left: 13px; background-color:gainsboro;">{{tab}} Spacifications
            </h3>

            <div class="col">
                <div class="row">

                    <div class="col-sm">
                        <div class="form-group focused">

                            <table style="border: 0ch;">
                                <thead>
                                    <tr>

                                        <th style="vertical-align: top;">
                                            <h3 for="Shape" class="form-group focused">
                                                <label>Shape</label>
                                            </h3>
                                        </th>
                                        <th>
                                            <ul style="list-style-type:none;">
                                                <li>
                                                    <h4 class="form-group focused">
                                                        <input type="radio" name="massShape" value="Oval"
                                                            [(ngModel)]="service.Patient.clinicalInfo.massSpecifications[0].massShape">
                                                        <span class="checkmark">oval</span>
                                                    </h4>
                                                </li><br>

                                                <li>

                                                    <h4 class="form-group focused">
                                                        <input type="radio" name="massShape" value="Round"
                                                            [(ngModel)]="service.Patient.clinicalInfo.massSpecifications[0].massShape">
                                                        <span class="checkmark">Round</span>
                                                    </h4>
                                                </li><br>
                                                <li>

                                                    <input type="radio" name="massShape" value="Irregular"
                                                        [(ngModel)]="service.Patient.clinicalInfo.massSpecifications[0].massShape">
                                                    <span class="checkmark">Irregular</span>
                                                </li><br>

                                            </ul>
                                        </th>
                                    </tr>
                                </thead>
                            </table>
                        </div>
                    </div>


                    <div class="col-sm">
                        <div class="form-group focused ">
                            <h3 class="form-control-label" for="Mammo-history"
                                style="margin-right: 15px; padding-top: 15px;">
                                <strong>Margin</strong>
                            </h3>
                            <select class="custom-select" name="massMarginId" #massMarginId="ngModel"
                                [(ngModel)]="service.Patient.clinicalInfo.massSpecifications[0].massMarginId"
                                style="width:150px;">
                                <option value="0"> SELECT</option>
                                <option *ngFor="let item of MassMargin" value="{{item.id}}">{{item.name}}</option>
                            </select>


                        </div>
                    </div>
                    <div class="col-sm">
                        <div class="form-group focused ">
                            <h5 class="form-control-label" for="Mammo-history"
                                style="margin-right: 15px; padding-top: 15px;">
                                Density </h5>
                            <select class="custom-select" name="massDensityId" #massDensityId="ngModel"
                                [(ngModel)]="service.Patient.clinicalInfo.massSpecifications[0].massDensityId"
                                style="width:150px;">
                                <option value="0"> SELECT</option>
                                <option *ngFor="let item of MassDensities" value="{{item.id}}">{{item.name}}</option>
                            </select>



                        </div>
                    </div>
                </div>
                <h3 class="form-control-alternative" style="margin-top: 9px; background-color:gainsboro;">Location of
                  {{tab}}</h3>


                <!----------------------------  Literality ---------------------------------- -->


                <div class="row">
                    <div class="col">
                        <div class="form-group focused">
                            <label class="form-control-label" for="Mammo-history"
                                style="margin-right: 15px; padding-top: 15px;">
                                <strong> Laterality</strong> </label>

                            <input type="text" id="TEXT_1450682011285" name="laterality" data-field-type="TEXT"
                                data-field-completion-action="NONE" #laterality="ngModel"
                                [(ngModel)]="service.Patient.clinicalInfo.massSpecifications[0].laterality"
                                style="width: 50px; height: 25px;" class="form-control" />
                        </div>
                    </div>
                </div>
                <br>
                <!-- Quadrant ..Done-->

                <div class="row">
                    <div class="col">
                        <div class="form-group focused ">
                            <label class="form-control-label" for="Mammo-history"
                                style="margin-right: 15px; padding-top: 15px;">
                                <strong> Quadrant </strong> </label>
                            <select class="custom-select" name="quadrantId" #quadrantId="ngModel"
                                [(ngModel)]="service.Patient.clinicalInfo.massSpecifications[0].quadrantId"
                                style="width:150px;">
                                <option value="0"> SELECT</option>
                                <option *ngFor="let item of Quadrants" value="{{item.id}}">{{item.name}}</option>
                            </select>
                        </div>
                    </div>
                    <!-- Clock Face ..Done-->
                    <div class="col">
                        <div class="form-group focused ">
                            <label class="form-control-label" for="Mammo-history"
                                style="margin-right: 15px; padding-top: 15px;"><strong> clock face</strong></label>
                            <select class="custom-select" name="clockFaceId" #clockFaceId="ngModel"
                                [(ngModel)]="service.Patient.clinicalInfo.massSpecifications[0].clockFaceId"
                                style="width:150px;">
                                <option value="0"> SELECT</option>
                                <option *ngFor="let item of ClockFaces" value="{{item.id}}">{{item.name}}</option>
                            </select>
                        </div>
                    </div>
                </div>
                <br>

                <!--Depth  ..Done-->
                <div class="row">
                    <div class="col">
                        <div class="form-group focused">

                            <label style="margin-right: 10px; padding-top: 9px;"><strong> Depth</strong> </label>
                            <input type="text" id="TEXT_1450682011285" name="depth" data-field-type="TEXT"
                                data-field-completion-action="NONE" #depth="ngModel"
                                [(ngModel)]="service.Patient.clinicalInfo.massSpecifications[0].depth"
                                class="form-control" />


                        </div>
                    </div>
                    <div class="col">
                        <div class="form-group focused">
                            <label style="margin-right: 10px; padding-top: 9px;"><strong>Distance from the
                                    nipple</strong></label>
                            <input type="text" id="TEXT_1450682011285" name="distanceFromTheNipple"
                                data-field-type="TEXT" data-field-completion-action="NONE"
                                #distanceFromTheNipple="ngModel"
                                [(ngModel)]="service.Patient.clinicalInfo.massSpecifications[0].distanceFromTheNipple"
                                class="form-control" />


                        </div>
                    </div>


                </div>
            </div>
        </mat-tab>

    </mat-tab-group>
    <div class="clearfix">
      <button class="btn btn-secondary float-right" [hidden]="tabs.length === 0"
      (click)="removeTab()">
      Delete Mass
  </button>
  </div>

