.example-input-label,
.example-add-tab-button,
.example-delete-tab-button {
  margin: 8px;
}
.example-card {
  border: 1.5px solid #c3c3c3;
}
/*
/deep/.mat-tab-label, /deep/.mat-tab-label-active{
  min-width: 0!important;
  padding: 3px!important;
  margin: 3px!important;
 }
*/
