<div class="header pb-8 pt-5 pt-lg-8 d-flex align-items-center"
  style="min-height: 300px; background-image: url(assets/img/theme/patient-cover.jpg); background-size: cover; background-position: center top;">
  <!-- Mask -->
  <span class="mask bg-gradient-danger opacity-8"></span>
  <!-- Header container -->
</div>
<div class="container-fluid mt--7">
  <div class="row">
    <div class="col">
      <div class="card shadow">


<!-- <<<<<<< HEAD -->
        <!-----------------------------------------------begin tabs------------------------------------------------------------------------------------------------->
        <form class="form-inline">
          <div class="container">

            <app-tabset-selectbyid></app-tabset-selectbyid>

          </div>
        </form>
      </div>
    </div>

    <!-----------------------------------------------begin gallery------------------------------------------------------------------------------------------------->

    <div class="col-xl-4 order-xl-2 mb-5 mb-xl-0">
      <div class="card card-profile shadow" style="background-color: #fff;">
        <div class="card-header border-0" style="background-color: #fff">
          <h1 class="display-4 ">Images</h1>
          <hr>
        </div>
        <div class="container-fluid">
          <!-- <button *ngIf="!createProduct" (click)="onCreateProduct()" class="btn btn-link float-right" >Add New Image</button>
          <app-product *ngIf="createProduct" (close)="onProductSubmit($event)"></app-product> -->
          

          <div>
            <img *ngFor="let url of urls" src={{url}} class="img" width="180">
            <button class="btn btn-link float-right" >SAVE</button>
          </div>
          <input type="file" value="Add to favorites" multiple (change)="detectFiles($event)">
        </div>

        <!--<p>
          <button class="btn btn-link float-right" (click)="t.select('select image')">Add new Image</button>
        </p>
      -->
      </div>
    </div>
  </div>
</div>

