<div class="header pb-8 pt-5 pt-lg-8 d-flex align-items-center"
  style="min-height: 300px; background-image: url(assets/img/theme/patient-cover.jpg); background-size: cover; background-position: center top;">
  <!-- Mask -->
  <span class="mask bg-gradient-danger opacity-8"></span>
  <!-- Header container -->
</div>
<div class="container-fluid mt--7">
  <div class="row">
    <div class="col">
      <div class="card shadow">


        <!-----------------------------------------------begin tabs------------------------------------------------------------------------------------------------->
        <form class="form-inline">
          <div class="container">

            <app-tabset-selectbyid></app-tabset-selectbyid>

          </div>
        </form>
      </div>
    </div>

    <!-----------------------------------------------begin gallery------------------------------------------------------------------------------------------------->

    <div class="col-xl-4 order-xl-2 mb-5 mb-xl-0">
      <div class="card card-profile shadow" style="background-color: #434347;">
        <div class="card-header border-0" style="background-color: #434347">
          <h1 class="display-4 text-white">Images</h1>
        </div>
        <div class="container-fluid">

          <div class="row">
            <div class="column">
              <img
                src="https://www.itnonline.com/sites/default/files/field/image/IBMStudyBreastCancerMammographyAI.jpg">
              <img
                src="https://www.annsaudimed.net/cms/asset/4ee9d33d-122d-4da5-b6f0-d73ac508576c/0256-4947.2019.236-fig1.gif" />
              <img src="http://rad.desk.nl/data/bin/w440/a53de9343ad54d_10a-composition.jpg" />
              <img
                src="https://d3i71xaburhd42.cloudfront.net/2152564cdaaebe8fbf8d0ba815b70d00ac4539d5/4-Figure1-1.png" />
              <img
                src="https://news.mit.edu/sites/default/files/styles/news_article__image_gallery/public/images/201810/MIT-Mammogram-AI-02.jpg?itok=56RP0i4x" />
            </div>
            <div class="column">
              <img
                src="https://d3i71xaburhd42.cloudfront.net/2152564cdaaebe8fbf8d0ba815b70d00ac4539d5/4-Figure1-1.png" />
              <img
                src="https://news.mit.edu/sites/default/files/styles/news_article__image_gallery/public/images/201810/MIT-Mammogram-AI-02.jpg?itok=56RP0i4x">
              <img
                src="https://www.itnonline.com/sites/default/files/field/image/IBMStudyBreastCancerMammographyAI.jpg">
              <img src="http://rad.desk.nl/data/bin/w440/a53de9343ad54d_10a-composition.jpg" />
              <img
                src="https://www.annsaudimed.net/cms/asset/4ee9d33d-122d-4da5-b6f0-d73ac508576c/0256-4947.2019.236-fig1.gif" />
            </div>
            <div class="column">

              <img
                src="https://www.itnonline.com/sites/default/files/field/image/IBMStudyBreastCancerMammographyAI.jpg">
              <img
                src="https://d3i71xaburhd42.cloudfront.net/2152564cdaaebe8fbf8d0ba815b70d00ac4539d5/4-Figure1-1.png" />
              <img
                src="https://news.mit.edu/sites/default/files/styles/news_article__image_gallery/public/images/201810/MIT-Mammogram-AI-02.jpg?itok=56RP0i4x">
              <img
                src="https://www.annsaudimed.net/cms/asset/4ee9d33d-122d-4da5-b6f0-d73ac508576c/0256-4947.2019.236-fig1.gif" />
              <img src="http://rad.desk.nl/data/bin/w440/a53de9343ad54d_10a-composition.jpg" />

            </div>
          </div>



        </div>
        <p>
          <button class="btn btn-outline-primary" (click)="t.select('select image')">Add new Image</button>
        </p>
      </div>
    </div>
  </div>
</div>