<link href="https://fonts.googleapis.com/css?family=Montserrat:400,700,200" rel="stylesheet">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css"
  integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
<nav class="navbar navbar-top navbar-expand-md navbar-light  sticky-top  bg-default navbar-transparent"
  color-on-scroll="100">
  <div class="container">
    <div class="dropdown button-dropdown">
      <a href="#pablo" class="dropdown-toggle" id="navbarDropdown" data-toggle="dropdown">
        <span class="button-bar"></span>
        <span class="button-bar"></span>
        <span class="button-bar"></span>
      </a>

    </div>
    <div class="navbar-translate">
      <div class="container">

        <img src="/assets/img/Image.png" height="60" alt="">
        <img src="/assets/img/text.png" height="60" width="95" alt="">

        <!-- <div class="col">
          <img src="/assets/img/text.png" height="60" alt="">
        </div> -->
      </div>


      <button class="navbar-toggler navbar-toggler" type="button" data-toggle="collapse" data-target="#navigation"
        aria-controls="navigation-index" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-bar top-bar"></span>
        <span class="navbar-toggler-bar middle-bar"></span>
        <span class="navbar-toggler-bar bottom-bar"></span>
      </button>
    </div>
    <div class="collapse navbar-collapse justify-content-end" id="navigation"
      data-nav-image="../assets/img/blurred-image-1.jpg">
      <ul class="navbar-nav" style="margin-left: 100px;">


        <li class="nav-item font-weight-bold" style="font-family:cursive">
          <a class="nav-link btn-rounded " href="#">Product</a>
        </li>
        <li class="nav-item font-weight-bold">
          <a class="nav-link" href="#" routerLinkActive="active" [routerLink]="['/login']"><strong>Login</strong></a>
        </li>
        <li class="nav-item font-weight-bold">
          <a class="nav-link" rel="tooltip" title="" data-placement="bottom" href="https://www.facebook.com/DilenyTech"
            target="_blank" data-original-title="Follow us on Twitter">
            <i class="fab fa-twitter font-weight-bold"></i>
            <p class="d-lg-none d-xl-none">Twitter</p>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" rel="tooltip" title="" data-placement="bottom" href="https://www.facebook.com/DilenyTech"
            target="_blank" data-original-title="Like us on Facebook">
            <i class="fab fa-facebook-square"></i>
            <p class="d-lg-none d-xl-none">Facebook</p>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" rel="tooltip" title="" data-placement="bottom" href="https://www.facebook.com/DilenyTech"
            target="_blank" data-original-title="Follow us on Instagram">
            <i class="fab fa-instagram"></i>
            <p class="d-lg-none d-xl-none">Instagram</p>
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<div class="section "
  style="background-image: url('assets/img/newheader.jpg');background-size:cover; background-position: top center; min-height: 830px; ">

</div>
<section class="section section-lg section-shaped">
  <div class="header  py-7 py-lg-8" style="background-size:cover; background-position: top center; min-height: 830px; ">
    <!-- <div class="container">
    <div class="header-body text-center mb-7">
      <div class="row justify-content-center">
        <div class="col-lg-5 col-md-6">
          <h1>Welcome!</h1>
          <p class="text-lead">To increase access and quality of healthcare, for everyone. With a focus on imaging, APR
            AI enhances accuracy and access to diagnosis.</p>
        </div>
      </div>
    </div>
    </div> -->
    <div class="shape shape-style-1 shape-default">
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      <span></span>
    </div>
    <div class="container py-md">
      <div class="row justify-content-between align-items-centerr">
        <div class="col-lg-5 mb-5 mb-lg-0">
          <div class="card" style="background-image: linear-gradient(87deg, #5e72e4 0, #825ee4 100%);">
            <div class="card-block">
              <h4 class="card-title">Card title</h4>
              <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
              <p class="card-text">
                Some quick example text to build on the card title
                and make up the bulk of the card's content.
              </p>
              <a href="#" class="card-link">Card link</a>
              <a href="#" class="card-link">Another link</a>
            </div>
          </div>
        </div>
        <div class="col-lg-6 mb-lg-auto">
          <!-- <div class="container">
          <div class="card text-white click-col" style="background-image: url(/assets/img/eva.jpg);">
            <img class="card-img d-none" src="/assets/img/eva.jpg"
              alt="Goverment Lorem Ipsum Sit Amet Consectetur dipisi?">
            <div class="card-img-overlay d-flex flex-column">
              <div class="card-body">
                <img src="/assets/img/eva.jpg" alt="">
              </div>
            </div>
          </div>
  
        </div> -->
          <div class="rounded shadow-lg overflow-hidden transform-perspective-right">
            <div class="card shadow">
              <img class="card-img" src="/assets/img/eva.jpg" alt="Bologna">
              <div class="card-img-overlay text-white d-flex flex-column justify-content-center">

              </div>

            </div>
          </div>

        </div>
      </div>
    </div>

    <div class="separator separator-bottom separator-skew zindex-100">
      <svg x="0" y="0" viewBox="0 0 2560 100" preserveAspectRatio="none" version="1.1"
        xmlns="http://www.w3.org/2000/svg">
        <polygon class="fill-default" points="2560 0 2560 100 0 100"></polygon>
      </svg>
    </div>

  </div>
</section>

  <!-- Page content -->