<div class="main-content">
  <div class="container-fluid">
    <div class="card">
        <div class="card-header card-header-danger">
            <h4 class="card-title">Pre-Selected Report</h4>
            <p class="card-category">Created By SBME-2021</p>
        </div>
        <div class="card-body">

     <div class="row">
          <div class="column">
            
              <!-- Section: Live preview -->
              <section>
        
                <ul class="nav nav-tabs nav-justified" id="myTab" role="tablist">
                  <li class="nav-item waves-effect waves-light">
                    <a class="nav-link" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="false">General Information</a>
                  </li>
                  <li class="nav-item waves-effect waves-light">
                    <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">Clinical Information</a>
                  </li>
                  <li class="nav-item waves-effect waves-light">
                    <a class="nav-link " id="contact-tab" data-toggle="tab" href="#contact" role="tab" aria-controls="contact" aria-selected="false">Final Assesment</a>
                  </li>
                </ul>
                <div class="tab-content">
                  <div class="tab-pane container active" id="home">General information </div>
                  <div class="tab-pane container fade" id="profile">Clinical Information</div>
                  <div class="tab-pane container fade" id="contact">Final assessment</div>
                </div>
        
              </section>
              <!-- Section: Live preview -->
        
            </div>
            <!-- Grid column -->
          

          <div class="column"> 
            <app-gallery></app-gallery>
          </div>
          </div>


          


        </div>
      </div>
  </div>
</div>

<!-- <div class="row">
  <div class="column"></div>
  <div class="column"> I am Here</div>
</div> -->

