<div class="header  pb-8 pt-5 pt-lg-8 d-flex align-items-center"
  style="min-height: 300px; background-image: url(assets/img/theme/patient-cover.jpg); background-size: cover; background-position: center top;">
  <!-- Mask -->
  <span class="mask bg-gradient-danger opacity-8"></span>
  <!-- Header container -->
  <div class="container-fluid mt--7">
    <div class="row">
      <div class="col-lg-7 col-md-10">
        <!-- <h1 class="display-2 text-white">Hello DR {{service.Doctor.name}}</h1> -->
        <!-- <p class="text-white mt-0 mb-5">This is the WORKLIST page. You can see the patient's records you've made with your work
          and manage their reports and Worksheets</p> -->
        <!-- <a href="#!" class="btn btn-secondary">Edit profile</a> -->
      </div>
    </div>
  </div>
</div>


<!--Page content -->
<div class="container-fluid mt--7">

  <!-- Table -->
  <div class="row">
    <div class="col">
      <div class="card shadow">
        <div class="card-header border-0">
          <div class="col">
            <h3 class=" mb-2">WORKLIST</h3>
          </div>
          <div class="row">
            <div class=" form-group mb-0" [ngClass]="{ 'focused': focus === true }">
              <div class="input-group input-group-alternative">
                <div class="input-group-prepend">
                  <span class="input-group-text"><i class="fas fa-search"></i></span>
                </div>
                <input class="form-control" placeholder="Search" type="text" ng-focus="focus=true" ng-blur="focus=false"name="searchterm"  [(ngModel)]="name"
                  (input) = "Search()" >
              </div>

            </div>
            <div class="bg-info clearfix col-md-4 offset-md-5">
              <button class="btn btn-primary float-right" type="button" (click)="onClick('/dash/patient')">
                Add New Patiant
              </button>
            </div>
          </div>
        </div>
        <!-- ==================================== Table ============================================= -->

        <div class="table-responsive">
          <table class="table align-items-center table-flush">
            <thead class="thead-light">
              <tr>
                <!-- <th scope="col">Priority</th> -->
                <th scope="col">Patient Name</th>
                <th scope="col">Patient Id</th>

                <th scope="col">Modality </th>
                <th scope="col">Study Datetime</th>
                <th scope="col">Referring Doctor</th>
                <th scope="col"> Action</th>
                <!-- <th hidden scope="col">Email Address</th>
                <th hidden scope="col">mobile number</th>
                <th hidden scope="col"> address</th>
                <th hidden scope="col"> Last Operation</th> -->
              </tr>
            </thead>

            <tbody>
              <tr>
                <td>
                    1
                </td>
                <td>
                    Dakota Rice
                </td>
                <td>
                    Niger
                </td>
                <td>
                    Oud-Turnhout
                </td>
                <td class="text-primary">
                    $36,738
                </td>
                <td>
                  Oud-Turnhout
              </td>
            </tr>
            <tr>
                <td>
                    2
                </td>
                <td>
                    Minerva Hooper
                </td>
                <td>
                    Curaçao
                </td>
                <td>
                    Sinaai-Waas
                </td>
                <td class="text-primary">
                    $23,789
                </td>
                <td>
                  Curaçao
              </td>
            </tr>
            <tr>
                <td>
                    3
                </td>
                <td>
                    Sage Rodriguez
                </td>
                <td>
                    Netherlands
                </td>
                <td>
                    Baileux
                </td>
                <td class="text-primary">
                    $56,142
                </td>
                <td>
                  Baileux
              </td>
            </tr>
            <tr>
                <td>
                    4
                </td>
                <td>
                    Philip Chaney
                </td>
                <td>
                    Korea, South
                </td>
                <td>
                    Overland Park
                </td>
                <td class="text-primary">
                    $38,735
                </td>
                <td>
                  Overland Park
              </td>
            </tr>
            <tr>
                <td>
                    5
                </td>
                <td>
                    Doris Greene
                </td>
                <td>
                    Malawi
                </td>
                <td>
                    Feldkirchen in Kärnten
                </td>
                <td class="text-primary">
                    $63,542
                </td>
                <td>
                  Feldkirchen in Kärnten
              </td>
            </tr>
            <tr>
                <td>
                    6
                </td>
                <td>
                    Mason Porter
                </td>
                <td>
                    Chile
                </td>
                <td>
                    Gloucester
                </td>
                <td class="text-primary">
                    $78,615
                </td>
                <td>
                  Mason Porter
              </td>
            </tr>

            </tbody>
          </table>
        </div>
        <div class="card-footer py-4">
          <nav aria-label="...">
            <ul class="pagination justify-content-end mb-0">
              <li class="page-item disabled">
                <a class="page-link" href="javascript:void(0)" tabindex="-1">
                  <i class="fas fa-angle-left"></i>
                  <span class="sr-only">Previous</span>
                </a>
              </li>
              <li class="page-item active">
                <a class="page-link" href="javascript:void(0)">1</a>
              </li>
              <li class="page-item">
                <a class="page-link" href="javascript:void(0)">2 <span class="sr-only">(current)</span></a>
              </li>
              <li class="page-item"><a class="page-link" href="javascript:void(0)">3</a></li>
              <li class="page-item">
                <a class="page-link" href="javascript:void(0)">
                  <i class="fas fa-angle-right"></i>
                  <span class="sr-only">Next</span>
                </a>
              </li>
            </ul>
          </nav>
        </div>
      </div>
    </div>
  </div>
</div>
<ng-template #content let-modal>

  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">PDF</h4>

  </div>
  <div class="modal-body">


    <pdf-viewer [src]="pdfScr" [render-text]="true" [show-all]="true" style="display: block;" [fit-to-page]='true'
      [autoresize]="true" [original-size]='true'></pdf-viewer>

  </div>


</ng-template>

<ng-template #emptycontent let-modal>

  <div class="modal-header">
    <!-- <h4 class="modal-title" id="modal-basic-title">PDF</h4> -->
  </div>
  <div class="modal-body">
    <div class="text-center">Nothing to View</div>
  </div>


</ng-template>

