<div class="header  pb-8 pt-5 pt-lg-8 d-flex align-items-center"
  style="min-height: 300px; background-image: url(assets/img/theme/patient-cover.jpg); background-size: cover; background-position: center top;">
  <!-- Mask -->
  <span class="mask bg-gradient-danger opacity-8"></span>
  <!-- Header container -->
  <div class="container-fluid mt--7">
    <div class="row">
      <div class="col-lg-7 col-md-10">
        <!-- <h1 class="display-2 text-white">Hello DR {{service.Doctor.name}}</h1> -->
        <!-- <p class="text-white mt-0 mb-5">This is the WORKLIST page. You can see the patient's records you've made with your work
          and manage their reports and Worksheets</p> -->
        <!-- <a href="#!" class="btn btn-secondary">Edit profile</a> -->
      </div>
    </div>
  </div>
</div>


<!--Page content -->
<div class="container-fluid mt--7">

  <!-- Table -->
  <div class="row">
    <div class="col">
      <div class="card shadow">
        <div class="card-header border-0">
          <div class="col">
            <h3 class=" mb-2">WORKLIST</h3>
          </div>
          <div class="row">
            <div class=" form-group mb-0" [ngClass]="{ 'focused': focus === true }">
              <div class="input-group input-group-alternative">
                <div class="input-group-prepend">
                  <span class="input-group-text"><i class="fas fa-search"></i></span>
                </div>
                <input class="form-control" placeholder="Search" type="text" ng-focus="focus=true" ng-blur="focus=false"name="searchterm"  [(ngModel)]="name"
                  (input) = "Search()" >
              </div>

            </div>
            <div class="bg-info clearfix col-md-4 offset-md-5">
              <button class="btn btn-primary float-right" type="button" (click)="onClick('/dash/patient')">
                Add New Patiant
              </button>
            </div>
          </div>
        </div>
        <!-- ==================================== Table ============================================= -->

        <div class="table-responsive">
          <table class="table align-items-center table-flush">
            <thead class="thead-light">
              <tr>
                <!-- <th scope="col">Priority</th> -->
                <th scope="col">Patient Name</th>
                <th scope="col">Patient Id</th>

                <th scope="col">Modality </th>
                <th scope="col">Study Datetime</th>
                <th scope="col">Referring Doctor</th>
                <th scope="col"> Action</th>
                <!-- <th hidden scope="col">Email Address</th>
                <th hidden scope="col">mobile number</th>
                <th hidden scope="col"> address</th>
                <th hidden scope="col"> Last Operation</th> -->
              </tr>
            </thead>

            <tbody>
              <tr *ngFor="let pd of service.list">
                <!-- <td >
                    1
                </td> -->
                <th scope="row">
                  <div class="media-body">
                    <a class="mb-0 text-sm" href="#/dash/preselect" (click)=preselect(pd.id)>{{pd.name}}</a>
                  </div>
                </th>
                <td>
                  {{pd.patientID}}
                </td>
                <td>
                  <!--Modality -->
                  {{pd.modailty}}
                </td>
                <td>
                  <!--Study Datetime -->
                  {{pd.studyDate | date:'dd//MM/yyyy'}}
                </td>
                <td>
                  <!--Referring Doctor -->
                  {{pd.referringDoctor}}
                </td>
                <td hidden>
                  <!--Modality -->
                  {{pd.mobileNumber}}
                </td>
                <td hidden>
                  <!--Study Datetime -->
                  {{pd.emailAddress}}
                </td>
                <td hidden>
                  <!--Referring Doctor -->
                  {{pd.address}}
                </td>
                <td hidden>
                  <!--Referring Doctor -->
                  {{pd.lastOperation}}
                </td>

                <td class="text-right">
                  <div class="col col-lg-2">
                    <button class="btn btn-sm" (click)=patientForm(pd.id) data-toggle="tooltip" data-placement="bottom"
                      title="Edit"><i class="fas fa-edit"></i></button>
                    <button class="btn btn-sm" href="/#/" (click)=open(content,emptycontent,pd.patientID)
                      data-toggle="tooltip" data-placement="top" title="Report Review"><i
                        class="far fa-file-pdf"></i></button>
                    <button class="btn btn-sm" href="javascript:void(0)" (click)=DeleteOn(pd.id) data-toggle="tooltip"
                      data-placement="top" title="Delete"><i class="fas fa-trash-alt"></i></button>

                  </div>


                  <!--
                  <div ngbDropdown placement="bottom-right">
                    <a class="btn btn-sm btn-icon-only text-light"  ngbDropdownToggle>
                      <i class="fas fa-ellipsis-v"></i>
                    </a>
                    <div ngbDropdownMenu class=" dropdown-menu-right dropdown-menu-arrow">
                      <a class="dropdown-item"  (click) = PdfShow(pd.name) >Report Review </a> 
                      <a class="dropdown-item" href="javascript:void(0)" (click)= DeleteOn(pd.id)>Delete</a>
                      <a class="dropdown-item"  (click) = patientForm(pd.id)>Edit</a>
                      <a class="dropdown-item" href="/#/patient" (click) = patientForm(pd.id)>Edit</a>
                       <a class="dropdown-item" (click) = PdfShow(pd.name) >Report Review </a>
                      <a class="dropdown-item" (click) ="open(content,pd.name)" >Report Review </a>
                      <pdf-viewer  [src] = "pdfScr" [render-text] = "true" [show-all]= "true" style="display: block;"></pdf-viewer> -->
                  <!--</div>
                  </div>
                -->
                </td>
              </tr>

            </tbody>
          </table>
        </div>
        <div class="card-footer py-4">
          <nav aria-label="...">
            <ul class="pagination justify-content-end mb-0">
              <li class="page-item disabled">
                <a class="page-link" href="javascript:void(0)" tabindex="-1">
                  <i class="fas fa-angle-left"></i>
                  <span class="sr-only">Previous</span>
                </a>
              </li>
              <li class="page-item active">
                <a class="page-link" href="javascript:void(0)">1</a>
              </li>
              <li class="page-item">
                <a class="page-link" href="javascript:void(0)">2 <span class="sr-only">(current)</span></a>
              </li>
              <li class="page-item"><a class="page-link" href="javascript:void(0)">3</a></li>
              <li class="page-item">
                <a class="page-link" href="javascript:void(0)">
                  <i class="fas fa-angle-right"></i>
                  <span class="sr-only">Next</span>
                </a>
              </li>
            </ul>
          </nav>
        </div>
      </div>
    </div>
  </div>
</div>
<ng-template #content let-modal>

  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">PDF</h4>

  </div>
  <div class="modal-body">


    <pdf-viewer [src]="pdfScr" [render-text]="true" [show-all]="true" style="display: block;" [fit-to-page]='true'
      [autoresize]="true" [original-size]='true'></pdf-viewer>

  </div>


</ng-template>

<ng-template #emptycontent let-modal>

  <div class="modal-header">
    <!-- <h4 class="modal-title" id="modal-basic-title">PDF</h4> -->
  </div>
  <div class="modal-body">
    <div class="text-center">Nothing to View</div>
  </div>


</ng-template>

