<div class="header  pb-8 pt-5 pt-md-8 d-flex "
    style="min-height: 300px; background-image: url(assets/img/theme/patient-cover.jpg); background-size: cover; background-position: center top;">
    <!-- Mask -->
    <span class="mask bg-gradient-danger opacity-8"></span>
    <!-- Header container -->
</div>
<form>
    <div class="container-fluid mt--7">
        <div class="row">

            <div class="col-xl-8 m-auto order-xl-1">
                <div class="card shadow">
                    <div class="card shadow">
                        <div class="card-header  border-0">
                            <div class="row align-items-center">
                                <div class="col-8">
                                    <h3 class="mb-0">Patient Information</h3>
                                </div>

                            </div>
                        </div>
                        <div class="card-body">
                            <form #form="ngForm" (submit)="OnSubmit(form,'ExamData')">
                                <h6 class="heading-small text-muted mb-4">Contact information</h6>
                                <div class="pl-lg-4">
                                    <div class="row">
                                        <div class="col-lg-6">

                                            <input name="id" type="hidden" [value]="service.ExamData.id" />
                                            <div class="form-group focused">

                                                <label class="form-control-label" for="input-username">Patient
                                                    Name</label>
                                                <div class="input-group input-group-alternative">
                                                    <div class="input-group-prepend">
                                                        <span class="input-group-text"><i
                                                                class="fas fa-user"></i></span>
                                                    </div>
                                                    <input type="text" id="input-username"
                                                        class="form-control form-control-alternative"
                                                        placeholder="Username" name="name" #name="ngModel"
                                                        [(ngModel)]="service.ExamData.name" required>
                                                </div>
                                                <div *ngIf="form.submitted && name.errors?.required"
                                                    class="text-sm text-red pl-2 pr-2">
                                                    Please enter Patient name</div>
                                            </div>

                                        </div>
                                        <div class="col-lg-6">
                                            <div class="form-group">

                                                <label class="form-control-label" for="input-email">Email
                                                    address</label>
                                                <div class="input-group input-group-alternative">
                                                    <div class="input-group-prepend">
                                                        <span class="input-group-text"><i
                                                                class="ni ni-email-83"></i></span>
                                                    </div>
                                                    <input type="email" id="input-email"
                                                        class="form-control form-control-alternative"
                                                        placeholder="Mohamed@example.com" name="email" #email="ngModel"
                                                        [(ngModel)]="service.ExamData.emailAddress"
                                                        pattern="^[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" required>
                                                </div>
                                                <div *ngIf="form.submitted && email.errors?.required"
                                                    class="text-sm text-red pl-2 pr-2">
                                                    Please enter Email Address</div>
                                                <div *ngIf="form.submitted && email.errors?.pattern"
                                                    class="text-sm text-red pl-2 pr-2">
                                                    Enter a Valid Email Address</div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-lg-6">
                                            <div class="form-group focused">
                                                <label class="form-control-label" for="input-first-name">Mopile
                                                    Number</label>
                                                <div class="input-group input-group-alternative">
                                                    <div class="input-group-prepend">
                                                        <span class="input-group-text"><i
                                                                class="ni ni-mobile-button"></i></span>
                                                    </div>
                                                    <input type="text" id="input-first-name"
                                                        class="form-control form-control-alternative"
                                                        placeholder="Mobile Number" name="mobileNumber"
                                                        #mobileNumber="ngModel"
                                                        [(ngModel)]="service.ExamData.mobileNumber" pattern="^\d{11}$"
                                                        required>
                                                </div>
                                                <div *ngIf="form.submitted && mobileNumber.errors?.required"
                                                    class="text-sm text-red pl-2 pr-2">
                                                    Enter Mobile Number</div>
                                                <div *ngIf="form.submitted && mobileNumber.errors?.pattern"
                                                    class="text-sm text-red pl-2 pr-2">
                                                    Enter a Valid number</div>
                                            </div>
                                        </div>
                                        <div class="col-lg-6">
                                            <div class="form-group focused">
                                                <label class="form-control-label" for="input-last-name">Patient
                                                    ID</label>
                                                <div class="input-group input-group-alternative">
                                                    <div class="input-group-prepend">
                                                        <span class="input-group-text"><i
                                                                class="far fa-id-badge"></i></span>
                                                    </div>
                                                    <input type="text" id="input-last-name"
                                                        class="form-control form-control-alternative"
                                                        placeholder="Patient Id" name="patientID" #patientID="ngModel"
                                                        [(ngModel)]="service.ExamData.patientID" pattern="^\d{11}$"
                                                        required>
                                                </div>
                                                <div *ngIf="form.submitted && patientID.errors?.required"
                                                    class="text-sm text-red pl-2 pr-2">
                                                    Enter Patient ID</div>
                                                <div *ngIf="form.submitted && patientID.errors?.pattern"
                                                    class="text-sm text-red pl-2 pr-2">
                                                    Enter a Valid ID</div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="form-group focused">
                                                <label class="form-control-label" for="input-address">Address</label>
                                                <div class="input-group input-group-alternative">
                                                    <div class="input-group-prepend">
                                                        <span class="input-group-text"><i
                                                                class="ni ni-square-pin"></i></span>
                                                    </div>
                                                    <input id="input-address"
                                                        class="form-control form-control-alternative"
                                                        placeholder="Home Address" name="address" #address="ngModel"
                                                        [(ngModel)]="service.ExamData.address" type="text">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <hr class="my-4">
                                <!-- Address -->
                                <h6 class="heading-small text-muted mb-4">Medical information</h6>
                                <div class="pl-lg-4">

                                    <div class="row">
                                        <div class="col-lg-4">
                                            <div class="form-group focused">
                                                <label class="form-control-label" for="input-city">Modality</label>
                                                <div class="input-group input-group-alternative">
                                                    <div class="input-group-prepend">
                                                        <span class="input-group-text"><i
                                                                class="fas fa-x-ray"></i></span>
                                                    </div>
                                                    <input type="text" id="input-city"
                                                        class="form-control form-control-alternative"
                                                        placeholder="ex: MRI" name="modality" #modality="ngModel"
                                                        [(ngModel)]="service.ExamData.modailty" required>
                                                </div>

                                                <div *ngIf="form.submitted && modality.errors?.required"
                                                    class="text-sm text-red pl-2 pr-2">
                                                    Enter Modality name</div>
                                                <!-- <div *ngIf="form.submitted && modality.errors?.pattern"
                                                    class="text-sm text-red pl-2 pr-2">
                                                    Enter a Valid ID</div> -->

                                            </div>
                                        </div>
                                        <div class="col-lg-4">
                                            <div class="form-group focused">
                                                <label class="form-control-label" for="input-city">Referring
                                                    Doctor</label>
                                                <div class="input-group input-group-alternative">
                                                    <div class="input-group-prepend">
                                                        <span class="input-group-text"><i
                                                                class="fas fa-user-md"></i></span>
                                                    </div>
                                                    <input type="text" id="input-city"
                                                        class="form-control form-control-alternative"
                                                        placeholder="ex: Mohamed" name="referringDoctor"
                                                        #referringDoctor="ngModel"
                                                        [(ngModel)]="service.ExamData.referringDoctor" required>
                                                </div>

                                                <div *ngIf="form.submitted && referringDoctor.errors?.required"
                                                    class="text-sm text-red pl-2 pr-2">
                                                    Enter Referring Doctor name</div>

                                            </div>
                                        </div>
                                        <div class="col-lg-4">
                                            <div class="form-group focused">
                                                <label class="form-control-label" for="input-country">Study
                                                    Date</label><br>
                                                <div class="input-group input-group-alternative">
                                                    <div class="input-group-prepend">
                                                        <span class="input-group-text"><i
                                                                class="ni ni-calendar-grid-58"></i></span>
                                                    </div>
                                                    <input class="form-control form-control-alternative"
                                                        type="datetime-local" value="" id="DATE_1449431264015"
                                                        data-field-type="DATE" data-field-completion-action="NONE"
                                                        name="studyDate" #studyDate="ngModel"
                                                        [(ngModel)]="service.ExamData.studyDate" required>
                                                </div>

                                                <div *ngIf="form.submitted && studyDate.errors?.required"
                                                    class="text-sm text-red pl-2 pr-2">
                                                    Enter Study Date</div>

                                            </div>
                                        </div>

                                    </div>
                                </div>
                                <hr class="my-4">
                                <!-- Description -->
                                <h6 class="heading-small text-muted mb-4">Last Operation</h6>
                                <div class="pl-lg-4">
                                    <div class="form-group focused">
                                        <textarea rows="4" class="form-control form-control-alternative"
                                            placeholder="A few words about you ..." name="lastOperation"
                                            #lastOperation="ngModel"
                                            [(ngModel)]="service.ExamData.lastOperation"></textarea>
                                    </div>
                                </div>
                                <!-- <div class="col-4 text-right">

                                    <button href="#!" type="submit" class="btn btn-secondary float-right"></button>
                                </div> -->
                                <div class="card-footer text-muted">
                                    <button class="btn btn-primary btn-lg float-right" type="submit" id="right"
                                        style="color:white;">
                                        Add Patient
                                    </button>

                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>