<ngb-tab  id="Clinical-tab" title="Clinical Information">
  <ng-template ngbTabContent>
      <br>
      <div class="row form-group focused">
          <div class="col">

            <div class="form-group focused">
              <label class="form-control-label" for="breast-composition">
                  <strong style="margin-right: 15px;"> Breast Compostion </strong>

              </label>
          </div >

              <ul style="list-style-type:none; margin-top: 5px;">
                  <li>
                      <h5 class="form-group focused">
                          <input type="radio" name="breastCompostion" value="a"
                              [(ngModel)]="service.Patient.clinicalInfo.breastCompostion"
                              style="margin-right: 6px;">
                          <span class="checkmark">a. The Breasts are almost entirely fatty</span>
                      </h5>
                  </li><br>

                  <li>

                      <h5 class="form-group focused">
                          <input type="radio" name="breastCompostion" value="b"
                              [(ngModel)]="service.Patient.clinicalInfo.breastCompostion"
                              style="margin-right: 6px;">
                          <span class="checkmark">b. There are scattered areas of fibroglandular
                              density</span>
                      </h5>
                  </li><br>
                  <li>
                      <h5>
                          <input type="radio" name="breastCompostion" value="c"
                              [(ngModel)]="service.Patient.clinicalInfo.breastCompostion"
                              style="margin-right: 6px;">
                          <span class="checkmark">c. The breasts are heterogeneously dense, which may obscure
                              small masses</span>
                      </h5>
                  </li><br>
                  <li>
                      <h5>
                          <input type="radio" name="breastCompostion" value="d"
                              [(ngModel)]="service.Patient.clinicalInfo.breastCompostion"
                              style="margin-right: 6px;">
                          <span class="checkmark">d. The breasts are extremely dense, which lowers the
                              sensitivity of
                              mammography</span>
                      </h5>
                  </li>
              </ul>

          </div>
      </div>
      <hr>

      <!----------------------------  AFsymmetries..Done ---------------------------------- -->
      <div class="row">
          <div class="col">
              <div class="form-group focused">
                  <label class="form-control-label" for="Mammo-history">
                      <strong style="margin-right: 15px;"> Asymmetries </strong>
                      <select class="custom-select" name="asymmetriesId" #asymmetriesId="ngModel"
                          [(ngModel)]="service.Patient.clinicalInfo.asymmetriesId" style="width:150px;">
                          <option value="0"> SELECT</option>
                          <option *ngFor="let item of Asymmetries" value="{{item.id}}">{{item.name}}</option>
                      </select>
                  </label>
              </div>
          </div>
      </div>

      <h3 class="form-control-alternative" style="margin-top: 9px; background-color:gainsboro;">Masses
      </h3>



      <div class="col">

          <app-mass></app-mass>


      </div>


      <!------------------------------------end of repeatetioin-->

      <h3 class="form-control-alternative" style="margin-top: 14px; background-color:gainsboro;">
          Clacifications</h3>




      <div class="row">

          <div class="col-sm">
              <div class="form-group focused">
                  <h5 class="form-control-label" for="Mammo-history"
                      style="margin-right: 15px; padding-top: 15px;">
                      Typically benign</h5>
                  <select class="custom-select" name="typicallyBenignId" #typicallyBenignId="ngModel"
                      [(ngModel)]="service.Patient.clinicalInfo.typicallyBenignId" style="width:110px;">
                      <option value="0"> SELECT</option>
                      <option *ngFor="let item of ClacificationTypicallyBenign" value="{{item.id}}">
                          {{item.name}}
                      </option>
                  </select>
              </div>
          </div>
          <div class="col-sm">
              <div class="form-group focused">
                  <h5 class="form-control-label" for="Mammo-history"
                      style="margin-right: 10px; padding-top: 15px;">
                      Suspicious morphology</h5>
                  <select class="custom-select" name="suspiciousMorphologyId"
                      #suspiciousMorphologyId="ngModel"
                      [(ngModel)]="service.Patient.clinicalInfo.suspiciousMorphologyId" style="width:100px;">
                      <option value="0"> SELECT</option>
                      <option *ngFor="let item of ClacificationSuspiciousMorphology" value="{{item.id}}">
                          {{item.name}}
                      </option>
                  </select>
              </div>
          </div>
          <div class="col-sm">

              <div class="form-group focused">
                  <h5 class="form-control-label" for="Mammo-history"
                      style="margin-right: 10px; margin-left: 10px; padding-top: 15px;">
                      Distribution</h5>
                  <select class="custom-select" name="distributionId" #suspiciousMorphologyId="ngModel"
                      [(ngModel)]="service.Patient.clinicalInfo.distributionId" style="width:100px;">
                      <option value="0"> SELECT</option>
                      <option *ngFor="let item of ClacificationDistribution" value="{{item.id}}">{{item.name}}
                      </option>
                  </select>
              </div>
          </div>
      </div>

      <h3 class="form-control-alternative" style="margin-top: 9px; background-color:gainsboro;">Features</h3>



      <div class="row justify-content-center">

          <table class="table" style="margin-left: 25px; text-align: center;">
              <tr>
                  <th>
                      <div class="form-group focused">
                          <div class="form-check">
                              <h5 class="form-control-label"
                                  for="Mammo-history style= margin-right: 15px; padding-top: 5px;">


                                  <input class="form-check-input" type="checkbox" name="skinRetraction"
                                      #skinRetraction="ngModel" *ngIf="service.Patient.clinicalInfo.features"
                                      [(ngModel)]="service.Patient.clinicalInfo.features.skinRetraction">
                                  <span class="form-check-sign">
                                      <span class="check"></span>
                                  </span>

                                  Skin Retraction
                              </h5>
                          </div>
                      </div>
                  </th>
                  <th>
                      <div class="form-group focused">
                          <div class="form-check">
                              <h5 class="form-control-label"
                                  for="Mammo-history style= margin-right: 15px; padding-top: 5px;">



                                  <input class="form-check-input" type="checkbox" name="nippleRetraction"
                                      #nippleRetraction="ngModel"
                                      *ngIf="service.Patient.clinicalInfo.features"
                                      [(ngModel)]="service.Patient.clinicalInfo.features.nippleRetraction">

                                  <span class="form-check-sign">
                                      <span class="check"></span>
                                  </span>
                                  Nipple retraction
                              </h5>
                          </div>
                      </div>
                  </th>
                  <th>
                      <div class="form-group focused">
                          <div class="form-check">
                              <h5 class="form-control-label"
                                  for="Mammo-history style= margin-right: 15px; padding-top: 5px;">



                                  <input class="form-check-input" type="checkbox" name="skinThickening"
                                      #skinThickening="ngModel" *ngIf="service.Patient.clinicalInfo.features"
                                      [(ngModel)]="service.Patient.clinicalInfo.features.skinThickening">

                                  <span class="form-check-sign">
                                      <span class="check"></span>
                                  </span>
                                  Skin thickening
                              </h5>
                          </div>
                      </div>
                  </th>

              </tr>
              <tr>

                  <th>
                      <div class="form-group focused">
                          <div class="form-check">
                              <h5 class="form-control-label"
                                  for="Mammo-history style= margin-right: 15px; padding-top: 5px;">



                                  <input class="form-check-input" type="checkbox"
                                      name="ArchitecturalDistortion" #ArchitecturalDistortion="ngModel"
                                      *ngIf="service.Patient.clinicalInfo.features"
                                      [(ngModel)]="service.Patient.clinicalInfo.features.ArchitecturalDistortion">

                                  <span class="form-check-sign">
                                      <span class="check"></span>
                                  </span>
                                  Architectural Distortion
                              </h5>
                          </div>
                      </div>
                  </th>
                  <th>
                      <div class="form-group focused">
                          <div class="form-check">
                              <h5 class="form-control-label"
                                  for="Mammo-history style= margin-right: 15px; padding-top: 5px;">



                                  <input class="form-check-input" type="checkbox" name="SkinLesion"
                                      #SkinLesion="ngModel" *ngIf="service.Patient.clinicalInfo.features"
                                      [(ngModel)]="service.Patient.clinicalInfo.features.SkinLesion">

                                  <span class="form-check-sign">
                                      <span class="check"></span>
                                  </span>
                                  Skin Lesion
                              </h5>
                          </div>
                      </div>
                  </th>
                  <th>
                      <div class="form-group focused">
                          <div class="form-check">
                              <h5 class="form-control-label"
                                  for="Mammo-history style= margin-right: 15px; padding-top: 5px;">



                                  <input class="form-check-input" type="checkbox" name="IntramammaryLymphNode"
                                      #IntramammaryLymphNode="ngModel"
                                      *ngIf="service.Patient.clinicalInfo.features"
                                      [(ngModel)]="service.Patient.clinicalInfo.features.IntramammaryLymphNode">

                                  <span class="form-check-sign">
                                      <span class="check"></span>
                                  </span>
                                  Intramammary LymphNode
                              </h5>
                          </div>
                      </div>
                  </th>

              </tr>
              <tr>
                  <th>
                      <div class="form-group focused">
                          <div class="form-check">
                              <h5 class="form-control-label"
                                  for="Mammo-history style= margin-right: 15px; padding-top: 5px;">



                                  <input class="form-check-input" type="checkbox" name="TrabecularThickening"
                                      #TrabecularThickening="ngModel"
                                      *ngIf="service.Patient.clinicalInfo.features"
                                      [(ngModel)]="service.Patient.clinicalInfo.features.TrabecularThickening">

                                  <span class="form-check-sign">
                                      <span class="check"></span>
                                  </span>
                                  TrabecularThickening
                              </h5>
                          </div>
                      </div>
                  </th>
                  <th>
                      <div class="form-group focused">
                          <div class="form-check">
                              <h5 class="form-control-label"
                                  for="Mammo-history style= margin-right: 15px; padding-top: 5px;">



                                  <input class="form-check-input" type="checkbox" name="SolitaryDilatedDuct"
                                      #SolitaryDilatedDuct="ngModel"
                                      *ngIf="service.Patient.clinicalInfo.features"
                                      [(ngModel)]="service.Patient.clinicalInfo.features.SolitaryDilatedDuct">

                                  <span class="form-check-sign">
                                      <span class="check"></span>
                                  </span>
                                  SolitaryDilatedDuct
                              </h5>
                          </div>
                      </div>
                  </th>
                  <th>
                      <div class="form-group focused">
                          <div class="form-check">
                              <h5 class="form-control-label"
                                  for="Mammo-history style= margin-right: 15px; padding-top: 5px;">

                                  <input class="form-check-input" type="checkbox" name="AxillaryAdenopathy"
                                      #AxillaryAdenopathy="ngModel"
                                      *ngIf="service.Patient.clinicalInfo.features"
                                      [(ngModel)]="service.Patient.clinicalInfo.features.AxillaryAdenopathy">

                                  <span class="form-check-sign">
                                      <span class="check"></span>
                                  </span>
                                  AxillaryAdenopathy
                              </h5>
                          </div>
                      </div>
                  </th>
              </tr>


          </table>

      </div>


  </ng-template>
</ngb-tab>
