<div class="card-header border-0">
    <h3 class="mb-0">Patient Worksheet</h3>

</div>

<form #form="ngForm" name="campaignForm" (ngSubmit)="OnSubmit(form,'patient')">
    <input name="id" type="hidden" [value]="service.Patient.id" (submit)="OnSubmit(form,'patient')" />
    <ngb-tabset #t="ngbTabset">

        <ngb-tab id="General-tab" title="General Information">

            <ng-template ngbTabContent>
                <!---------------------------- General-tab ---------------------------------- -->

                <!---------------------------- tab1 Exam reason ---------------------------------- -->

                <br>
                <div class="row">
                    <div class="col">


                        <table style="border: 0ch;">
                            <thead>
                                <tr>

                                    <th style="vertical-align: top;">
                                        <h3 class="form-control-alternative" for="exam-reason" name="examReason">
                                            Exam Reason
                                        </h3>

                                    </th>
                                    <th>
                                        <ul style="list-style-type:none;">
                                            <li>
                                                <h4 class="form-group focused">
                                                    <input type="radio" name="examReason" value="Screaning"
                                                        *ngIf="service.Patient.generalInfo"
                                                        [(ngModel)]="service.Patient.generalInfo.examReason"
                                                        class="form-control " style="margin-right: 5px;"
                                                        #screening="ngModel" required>
                                                    Screening<span class="checkmark"></span>
                                                </h4>
                                            </li>

                                            <li>
                                                <h4 class="form-group focused">
                                                    <input type="radio" name="examReason" value="Follow Up"
                                                        [(ngModel)]="service.Patient.generalInfo.examReason"
                                                        class="form-control " style="margin-right: 5px;"
                                                        #follow="ngModel" required>
                                                    Follow Up<span class="checkmark"></span>
                                                </h4>

                                            </li>
                                            <li>
                                                <h4 class="form-group focused">
                                                    <input type="radio" name="examReason" value="Complain"
                                                        [(ngModel)]="service.Patient.generalInfo.examReason"
                                                        class="form-control " style="margin-right: 5px;"
                                                        #complain="ngModel" required>
                                                    Complain<span class="checkmark"></span>
                                                </h4>
                                                <input *ngIf="service.Patient.generalInfo.examReason === 'Complain'"
                                                    type="text" id="TEXT_1450682011285" name="complain"
                                                    data-field-type="TEXT" data-field-completion-action="NONE"
                                                    #complain="ngModel"
                                                    [(ngModel)]="service.Patient.generalInfo.complain"
                                                    class="form-control " />

                                            </li><br>

                                        </ul>
                                        <!-- <div *ngIf = "form.submitted && .errors?.required" class="text text-danger pl-2 pr-2"></div> -->
                                    </th>
                                </tr>
                            </thead>
                        </table>
                        <div *ngIf="form.submitted && screening.errors?.required" class="text-sm text-danger pl-2 pr-2">
                            Choose Exam Reason !!</div>

                    </div>

                    <div class="col">
                        <h3 class="form-control-alternative" for="exam-reason" id="examdate" style="width: 3.2cm;">
                            Exam Date
                        </h3>

                        <input class="form-control " type="datetime-local" id="DATE_1449431264015" name="examDate"
                            data-field-type="DATE" data-field-completion-action="NONE" #examDate="ngModel" value=""
                            [(ngModel)]="service.Patient.generalInfo.examDate" required />

                    </div>
                    <div *ngIf="form.submitted && examDate.errors?.required" class="text-sm text-red pl-2 pr-2">
                        Enter Exam Date</div>
                </div>


                <!---------------------------- Exam history ---------------------------------- -->
                <h3 class="form-control-alternative">
                    <input name="hadAMammogram" #hadAMammogram="ngModel"
                        [(ngModel)]="service.Patient.generalInfo.hadAMammogram" type="checkbox">
                    <span class="form-check-sign">
                        <span class="check"></span>
                    </span>
                    Previous Mammogram
                </h3>
                <div *ngIf="service.Patient.generalInfo.hadAMammogram == true">
                    <div>
                        <div class="form-row" style="margin-bottom: 2px;">

                            <div class="form-group col-md-5">
                                <label>
                                    Type of Modality
                                    <input type="text" id="TEXT_1450682011285" name="modalityType"
                                        data-field-type="TEXT" data-field-completion-action="NONE"
                                        #modalityType="ngModel" style="width: 130px; margin-left:10px;"
                                        [(ngModel)]="service.Patient.generalInfo.modalityType" class="form-control " />


                                </label>
                            </div>
                            <div class="form-group col-md-4">
                                <label style="margin-right: 5px; ">
                                    Place
                                    <br>
                                    <input type="text" id="TEXT_1450682011285" name="whereHadAMammogram"
                                        data-field-type="TEXT" data-field-completion-action="NONE"
                                        #whereHadAMammogram="ngModel" style="width: 130px; margin-left:10px;"
                                        [(ngModel)]="service.Patient.generalInfo.whereHadAMammogram"
                                        class="form-control " />

                                </label>

                            </div>
                            <div class="form-group col-md-3">
                                <label style="margin-right: 5px;">
                                    Time
                                    <br>
                                    <input type="text" id="TEXT_1450682011285" name="whenHadAMammogram"
                                        data-field-type="TEXT" data-field-completion-action="NONE"
                                        style="width: 60px; height: 30px; margin-left:10px;"
                                        #whenHadAMammogram="ngModel"
                                        [(ngModel)]="service.Patient.generalInfo.whenHadAMammogram"
                                        class="form-control " />(Year)
                                </label>
                            </div>
                        </div>

                        <br>
                        <!---------------------------- Finding ---------------------------------- -->

                        <div class="form-row">
                            <div class="form-group">
                                <label style="margin-right: 15px;"> Findings</label>
                                <textarea rows="2" cols="50" class="form-control "
                                    placeholder="A few words about your complain ..." name="historyOfMammogram"
                                    #HistoryOfMammogram="ngModel"
                                    [(ngModel)]="service.Patient.generalInfo.historyOfMammogram"></textarea>
                            </div>

                        </div>
                    </div>

                </div>
                <!---------------------------- Family history ---------------------------------- -->

                <h3 class="form-control-alternative" style="margin-top: 18px;">
                    <input [(ngModel)]="service.Patient.generalInfo.personalHistoryOfBreastCancer"
                        name="Previous Mammogram" type="checkbox">
                    <span class="form-check-sign">
                        <span class="check"></span>
                    </span>
                    Personal history of breast cancer
                </h3>

                <!-- <div class="row justify-content-center" > -->
                <div class="row justify-content-center"
                    *ngIf="service.Patient.generalInfo.personalHistoryOfBreastCancer == true">



                    <table class="table" style="margin-left: 25px; text-align: center;">
                        <tr>
                            <th>
                                <div class="form-group focused">
                                    <div class="form-check">

                                        <h5 class="form-control-label" for="Mammo-history">
                                            <input class="form-check-label " name="mother" #mother="ngModel"
                                                [(ngModel)]="service.Patient.generalInfo.mother" type="checkbox">
                                            <span class="form-check-sign">
                                                <span class="check"></span>
                                            </span>
                                            Mother
                                        </h5>
                                    </div>
                                </div>
                            </th>
                            <td>
                                Age: <input type="number" id="TEXT_1450682011285" name="motherAge"
                                    data-field-type="Number" data-field-completion-action="NONE" #motherAge="ngModel"
                                    [(ngModel)]="service.Patient.generalInfo.motherAge"
                                    style="width: 50px; height: 25px;" class="form-control " placeholder="0" />

                            </td>
                            <th>
                                <div class="form-group focused">

                                    <div class="form-check">
                                        <h5 class="form-control-label" for="Mammo-history">
                                            <input class="form-check-label " name="sister" #sister="ngModel"
                                                [(ngModel)]="service.Patient.generalInfo.sister" type="checkbox">
                                            <span class="form-check-sign">
                                                <span class="check"></span>
                                            </span>
                                            Sister
                                        </h5>
                                    </div>
                                </div>
                            </th>
                            <td>
                                Age: <input type="number" id="TEXT_1450682011285" name="sisterAge"
                                    data-field-type="Number" data-field-completion-action="NONE" #sisterAge="ngModel"
                                    [(ngModel)]="service.Patient.generalInfo.sisterAge" min="0" max="100"
                                    style="width: 50px; height: 25px;" class="form-control " placeholder="0" />
                            </td>
                        </tr>
                        <tbody>
                            <tr>
                                <th>



                                    <div class="form-group focused">
                                        <div class="form-check">



                                            <h5 class="form-control-label" for="Mammo-history">
                                                <input class="form-check-label " name="daughter" #daughter="ngModel"
                                                    [(ngModel)]="service.Patient.generalInfo.daughter" type="checkbox">
                                                <span class="form-check-sign">
                                                    <span class="check"></span>
                                                </span>

                                                Daughter
                                            </h5>
                                        </div>
                                    </div>
                                </th>
                                <td>
                                    Age: <input type="text" id="TEXT_1450682011285" name="daughterAge"
                                        data-field-type="TEXT" data-field-completion-action="NONE"
                                        #daughterAge="ngModel" [(ngModel)]="service.Patient.generalInfo.daughterAge"
                                        min="0" max="100" style="width: 50px; height: 25px;" class="form-control "
                                        placeholder="0" />


                                </td>
                                <td>
                                    <div class="form-group focused">
                                        <div class="form-check">

                                            <h5 class="form-control-label" for="Mammo-history">
                                                <input class="form-check-label" name="grandmother"
                                                    #grandmother="ngModel"
                                                    [(ngModel)]="service.Patient.generalInfo.grandmother"
                                                    type="checkbox">
                                                <span class="form-check-sign">
                                                    <span class="check"></span>
                                                </span>
                                                Grandmother
                                            </h5>
                                        </div>
                                    </div>
                                </td>
                                <td>
                                    Age: <input type="text" id="TEXT_1450682011285" name="grandmotherAge"
                                        data-field-type="TEXT" data-field-completion-action="NONE"
                                        #grandmotherAge="ngModel"
                                        [(ngModel)]="service.Patient.generalInfo.grandmotherAge" min="0" max="100"
                                        style="width: 45px; height: 25px;" class="form-control " placeholder="0" />


                                </td>
                            </tr>
                            <tr>
                                <th>
                                    <div class="form-group focused">
                                        <div class="form-check">
                                            <h5 class="form-control-label" for="Mammo-history">
                                                <input class="form-check-label" name="aunt" #aunt="ngModel"
                                                    [(ngModel)]="service.Patient.generalInfo.aunt" type="checkbox">
                                                <span class="form-check-sign">
                                                    <span class="check"></span>
                                                </span>
                                                Aunt
                                            </h5>
                                        </div>
                                    </div>
                                </th>
                                <td>
                                    Age: <input type="text" id="TEXT_1450682011285" name="auntAge"
                                        data-field-type="TEXT" data-field-completion-action="NONE" #auntAge="ngModel"
                                        [(ngModel)]="service.Patient.generalInfo.auntAge" min="0" max="100"
                                        style="width: 50px; height: 25px;" class="form-control " placeholder="0" />
                                </td>
                                <td>
                                    <div class="form-group focused">
                                        <div class="form-check">


                                            <h5 class="form-control-label" for="Mammo-history">
                                                <input class="form-check-label " name="cousin" #cousin="ngModel"
                                                    [(ngModel)]="service.Patient.generalInfo.cousin" type="checkbox">
                                                <span class="form-check-sign">
                                                    <span class="check"></span>
                                                </span>

                                                Cousin
                                            </h5>
                                        </div>
                                    </div>
                                </td>
                                <td>
                                    Age: <input type="number" id="TEXT_1450682011285" name="cousinAge"
                                        data-field-type="Number" data-field-completion-action="NONE"
                                        #cousinAge="ngModel" [(ngModel)]="service.Patient.generalInfo.cousinAge" min="0"
                                        max="100" style="width: 50px; height: 25px;" class="form-control "
                                        placeholder="0">

                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <!-- <label  style="margin-right: 15px;"> Family history of breast cancer: </label> -->

                </div>


                <h3 class="form-control-alternative" style="margin-top: 18px; ">

                    <input type="checkbox" name="takingHormones" #TakingHormones="ngModel"
                        [(ngModel)]="service.Patient.generalInfo.takingHormones">
                    <span class="form-check-sign">
                        <span class="check"></span>
                    </span>
                    Taking hormones

                </h3>



                <div class="form-group" *ngIf="service.Patient.generalInfo.takingHormones == true">
                    <label style="margin-right: 15px; padding-top: 9px;"><strong> For how long </strong>
                        <input type="text" id="TEXT_1450682011285" name="howlongTakingHormones" data-field-type="TEXT"
                            data-field-completion-action="NONE" #HowlongTakingHormones="ngModel"
                            [(ngModel)]="service.Patient.generalInfo.howlongTakingHormones"
                            style="width: 60px; height: 25px; margin-left: 10px;" class="form-control " />(Year)
                    </label>

                </div>


                <!----------------------------  given birth ---------------------------------- -->
                <h3 class="form-control-alternative" style="margin-top: 18px;">
                    <!-- <i class="ni ni-bold-right"></i> -->
                    <input class="form-check-label " name="pergnancyHistory" #pergnancyHistory="ngModel"
                        [(ngModel)]="service.Patient.generalInfo.pergnancyHistory" type="checkbox">
                    <span class="form-check-sign">
                        <span class="check"></span>
                    </span>
                    Pregnancy History
                </h3>
                <div *ngIf="service.Patient.generalInfo.pergnancyHistory">
                    <div>

                        <table class="table" style="margin-left: 25px; text-align: center;">
                            <tr>

                                <td>
                                    <div class="form-group focused">
                                        <div class="form-check">

                                            <h5 class="form-control-label" for="Mammo-history">
                                                <input class="form-check-label" name="menopause" #menopause="ngModel"
                                                    [(ngModel)]="service.Patient.generalInfo.menopause" type="checkbox">
                                                <span class="form-check-sign">
                                                    <span class="check"></span>
                                                </span>
                                                Menopause
                                            </h5>
                                        </div>
                                    </div>

                                </td>

                                <td>
                                    <div class="form-group focused">
                                        <div class="form-check">

                                            <h5 class="form-control-label" for="Mammo-history">
                                                <input class="form-check-label" name="pregnant" #pregnant="ngModel"
                                                    [(ngModel)]="service.Patient.generalInfo.pregnant" type="checkbox">
                                                <span class="form-check-sign">
                                                    <span class="check"></span>
                                                </span>
                                                Pregnant
                                            </h5>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            <tbody>
                                <tr>

                                    <td>
                                        <!-- Age: <input type="text" id="TEXT_1450682011285" name="gravida"
                                        data-field-type="TEXT" data-field-completion-action="NONE"
                                        #gravida="ngModel" [(ngModel)]="service.Patient.generalInfo.gravida"
                                        min="0" max="100" style="width: 50px; height: 25px;" class="form-control "
                                        placeholder="0" /> -->
                                        <div class="form-group focused">
                                            <h5 class="form-control-label"
                                                style="margin-right: 15px;  padding-top: 5px;"> Gravida </h5>
                                            <input type="text" id="TEXT_1450682011285" name="gravida"
                                                data-field-type="TEXT" data-field-completion-action="NONE"
                                                #gravida="ngModel" [(ngModel)]="service.Patient.generalInfo.gravida"
                                                min="0" max="100" style="width: 50px; height: 25px;"
                                                class="form-control " placeholder="0" />
                                        </div>


                                    </td>

                                    <td>
                                        <!-- Age: <input type="text" id="TEXT_1450682011285" name="para"
                                        data-field-type="TEXT" data-field-completion-action="NONE"
                                        #para="ngModel"
                                        [(ngModel)]="service.Patient.generalInfo.para" min="0" max="100"
                                        style="width: 45px; height: 25px;" class="form-control " placeholder="0" /> -->
                                        <div class="form-group focused">
                                            <h5 class="form-control-label"
                                                style="margin-right: 15px; ; padding-top: 5px;"> Para </h5>
                                            <input type="text" id="TEXT_1450682011285" name="para"
                                                data-field-type="TEXT" data-field-completion-action="NONE"
                                                #para="ngModel" [(ngModel)]="service.Patient.generalInfo.para" min="0"
                                                max="100" style="width: 45px; height: 25px;" class="form-control "
                                                placeholder="0" />
                                        </div>

                                    </td>
                                </tr>

                            </tbody>
                        </table>

                    </div>
                    <div class="form-group focused">
                        <h5 class="form-control-label" for="exam-date" style="margin-right: 15px; padding-top: 15px;">
                            LMP
                        </h5>
                        <input class="form-control " type="datetime-local" id="DATE_1449431264015" name="lmp"
                            data-field-type="DATE" data-field-completion-action="NONE" #lmp="ngModel"
                            [(ngModel)]="service.Patient.generalInfo.lmp" />
                    </div>
                </div>
                <br>
                <!-- </form> -->
                <div class="form-group float-right mb-2">
                    <button class="btn-sm btn-primary" (click)="t.select('Clinical-tab')">Next</button>
                </div>

            </ng-template>

        </ngb-tab>


        <!---------------------------- Clinical-tab ---------------------------------- -->

        <ngb-tab id="Clinical-tab" title="Clinical Information">
            <ng-template ngbTabContent>
                <br>
                <div class="row form-group focused">
                    <div class="col">

                        <div class="form-group focused">
                            <label class="form-control-label" for="breast-composition">
                                <strong style="margin-right: 15px;"> Breast Compostion </strong>

                            </label>
                        </div>

                        <ul style="list-style-type:none; margin-top: 5px;">
                            <li>
                                <h5 class="form-group focused">
                                    <input type="radio" name="breastCompostion" value="a"
                                        [(ngModel)]="service.Patient.clinicalInfo.breastCompostion"
                                        style="margin-right: 6px;" class="form-control ">
                                    <span class="checkmark">a. The Breasts are almost entirely fatty</span>
                                </h5>
                            </li>

                            <li>

                                <h5 class="form-group focused">
                                    <input type="radio" name="breastCompostion" value="b"
                                        [(ngModel)]="service.Patient.clinicalInfo.breastCompostion"
                                        style="margin-right: 6px;" class="form-control ">
                                    <span class="checkmark">b. There are scattered areas of fibroglandular
                                        density</span>
                                </h5>
                            </li>
                            <li>
                                <h5>
                                    <input type="radio" name="breastCompostion" value="c"
                                        [(ngModel)]="service.Patient.clinicalInfo.breastCompostion"
                                        style="margin-right: 6px;" class="form-control ">
                                    <span class="checkmark">c. The breasts are heterogeneously dense, which may obscure
                                        small masses</span>
                                </h5>
                            </li>
                            <li>
                                <h5>
                                    <input type="radio" name="breastCompostion" value="d"
                                        [(ngModel)]="service.Patient.clinicalInfo.breastCompostion"
                                        style="margin-right: 6px;" class="form-control ">
                                    <span class="checkmark">d. The breasts are extremely dense, which lowers the
                                        sensitivity of
                                        mammography</span>
                                </h5>
                            </li>
                        </ul>

                    </div>
                </div>
                <hr>


                <div class="row">
                    <div class="col">
                        <div class="form-group focused">
                            <label class="form-control-label" for="Mammo-history">
                                <strong style="margin-right: 15px;"> Asymmetries </strong>
                                <select class="custom-select" name="asymmetriesId" #asymmetriesId="ngModel"
                                    [(ngModel)]="service.Patient.clinicalInfo.asymmetriesId" style="width:150px;">
                                    <option value="0"> SELECT</option>
                                    <option *ngFor="let item of Asymmetries" value="{{item.id}}">{{item.name}}</option>
                                </select>
                            </label>

                        </div>

                    </div>
                    <div class="col">
                        <div class="form-group focused ">
                            <label class="form-control-label" for="Mammo-history"
                                style="margin-right: 15px; margin-top: 15px; "><strong> Numer of Masses
                                    {{service.index}}</strong></label>
                        </div>
                    </div>


                </div>




                <h3 class="form-control-alternative" style="margin-top: 9px; ">Masses
                </h3>

                <div class="container">

                    <div class="example-card">
                        <app-mass></app-mass>
                    </div>

                    <h3 class="form-control-alternative" style="margin-top: 14px; ">Clacifications</h3>





                    <div class="row">

                        <div class="col-sm">
                            <div class="form-group focused">
                                <h5 class="form-control-label" for="Mammo-history"
                                    style="margin-right: 15px; padding-top: 15px;">
                                    Typically benign</h5>
                                <select class="custom-select" name="typicallyBenignId" #typicallyBenignId="ngModel"
                                    [(ngModel)]="service.Patient.clinicalInfo.typicallyBenignId" style="width:110px;">
                                    <option value="0"> SELECT</option>
                                    <option *ngFor="let item of ClacificationTypicallyBenign" value="{{item.id}}">
                                        {{item.name}}
                                    </option>
                                </select>
                            </div>
                        </div>
                        <div class="col-sm">
                            <div class="form-group focused">
                                <h5 class="form-control-label" for="Mammo-history"
                                    style="margin-right: 10px; padding-top: 15px;">
                                    Suspicious morphology</h5>
                                <select class="custom-select" name="suspiciousMorphologyId"
                                    #suspiciousMorphologyId="ngModel"
                                    [(ngModel)]="service.Patient.clinicalInfo.suspiciousMorphologyId"
                                    style="width:100px;">
                                    <option value="0"> SELECT</option>
                                    <option *ngFor="let item of ClacificationSuspiciousMorphology" value="{{item.id}}">
                                        {{item.name}}
                                    </option>
                                </select>
                            </div>
                        </div>
                        <div class="col-sm">

                            <div class="form-group focused">
                                <h5 class="form-control-label" for="Mammo-history"
                                    style="margin-right: 35px; margin-left: 10px; padding-top: 15px;">
                                    Distribution</h5>
                                <select class="custom-select" name="distributionId" #suspiciousMorphologyId="ngModel"
                                    [(ngModel)]="service.Patient.clinicalInfo.distributionId" style="width:100px;">
                                    <option value="0"> SELECT</option>
                                    <option *ngFor="let item of ClacificationDistribution" value="{{item.id}}">
                                        {{item.name}}
                                    </option>
                                </select>
                            </div>
                        </div>
                    </div>

                </div>



                <div class="container">
                    <h3 class="form-control-alternative" style="margin-top: 9px;">Features</h3>
                    <div class="row">

                        <table class="table table-sm"
                            style="table-layout:fixed; width: 100%; margin-right:75px; text-align:left;">
                            <tr>
                                <th>
                                    <div class="form-group focused">
                                        <div class="form-check">
                                            <h5 class="form-control-label"
                                                for="Mammo-history style= margin-right: 15px; padding-top: 5px;">


                                                <input class="form-check-input" type="checkbox" name="skinRetraction"
                                                    #skinRetraction="ngModel"
                                                    *ngIf="service.Patient.clinicalInfo.features"
                                                    [(ngModel)]="service.Patient.clinicalInfo.features.skinRetraction">
                                                <span class="form-check-sign">
                                                    <span class="check"></span>
                                                </span>

                                                Skin Retraction
                                            </h5>
                                        </div>
                                    </div>
                                </th>
                                <th>
                                    <div class="form-group focused">
                                        <div class="form-check">
                                            <h5 class="form-control-label"
                                                for="Mammo-history style= margin-right: 15px; padding-top: 5px;">



                                                <input class="form-check-input" type="checkbox" name="nippleRetraction"
                                                    #nippleRetraction="ngModel"
                                                    *ngIf="service.Patient.clinicalInfo.features"
                                                    [(ngModel)]="service.Patient.clinicalInfo.features.nippleRetraction">

                                                <span class="form-check-sign">
                                                    <span class="check"></span>
                                                </span>
                                                Nipple retraction
                                            </h5>
                                        </div>
                                    </div>
                                </th>
                                <th>
                                    <div class="form-group focused">
                                        <div class="form-check">
                                            <h5 class="form-control-label"
                                                for="Mammo-history style= margin-right: 15px; padding-top: 5px;">



                                                <input class="form-check-input" type="checkbox" name="skinThickening"
                                                    #skinThickening="ngModel"
                                                    *ngIf="service.Patient.clinicalInfo.features"
                                                    [(ngModel)]="service.Patient.clinicalInfo.features.skinThickening">

                                                <span class="form-check-sign">
                                                    <span class="check"></span>
                                                </span>
                                                Skin thickening
                                            </h5>
                                        </div>
                                    </div>
                                </th>

                            </tr>
                            <tr>

                                <th>
                                    <div class="form-group focused">
                                        <div class="form-check">
                                            <h5 class="form-control-label"
                                                for="Mammo-history style= margin-right: 15px; padding-top: 5px;">



                                                <input class="form-check-input" type="checkbox"
                                                    name="ArchitecturalDistortion" #ArchitecturalDistortion="ngModel"
                                                    *ngIf="service.Patient.clinicalInfo.features"
                                                    [(ngModel)]="service.Patient.clinicalInfo.features.ArchitecturalDistortion">

                                                <span class="form-check-sign">
                                                    <span class="check"></span>
                                                </span>
                                                Architectural Distortion
                                            </h5>
                                        </div>
                                    </div>
                                </th>
                                <th>
                                    <div class="form-group focused">
                                        <div class="form-check">
                                            <h5 class="form-control-label"
                                                for="Mammo-history style= margin-right: 15px; padding-top: 5px;">



                                                <input class="form-check-input" type="checkbox" name="SkinLesion"
                                                    #SkinLesion="ngModel" *ngIf="service.Patient.clinicalInfo.features"
                                                    [(ngModel)]="service.Patient.clinicalInfo.features.SkinLesion">

                                                <span class="form-check-sign">
                                                    <span class="check"></span>
                                                </span>
                                                Skin Lesion
                                            </h5>
                                        </div>
                                    </div>
                                </th>
                                <th>
                                    <div class="form-group focused">
                                        <div class="form-check">
                                            <h5 class="form-control-label"
                                                for="Mammo-history style= margin-right: 15px; padding-top: 5px;">



                                                <input class="form-check-input" type="checkbox"
                                                    name="IntramammaryLymphNode" #IntramammaryLymphNode="ngModel"
                                                    *ngIf="service.Patient.clinicalInfo.features"
                                                    [(ngModel)]="service.Patient.clinicalInfo.features.IntramammaryLymphNode">

                                                <span class="form-check-sign">
                                                    <span class="check"></span>
                                                </span>
                                                Intramammary LymphNode
                                            </h5>
                                        </div>
                                    </div>
                                </th>

                            </tr>
                            <tr>
                                <th>
                                    <div class="form-group focused">
                                        <div class="form-check">
                                            <h5 class="form-control-label"
                                                for="Mammo-history style= margin-right: 15px; padding-top: 5px;">



                                                <input class="form-check-input" type="checkbox"
                                                    name="TrabecularThickening" #TrabecularThickening="ngModel"
                                                    *ngIf="service.Patient.clinicalInfo.features"
                                                    [(ngModel)]="service.Patient.clinicalInfo.features.TrabecularThickening">

                                                <span class="form-check-sign">
                                                    <span class="check"></span>
                                                </span>
                                                TrabecularThickening
                                            </h5>
                                        </div>
                                    </div>
                                </th>
                                <th>
                                    <div class="form-group focused">
                                        <div class="form-check">
                                            <h5 class="form-control-label"
                                                for="Mammo-history style= margin-right: 15px; padding-top: 5px;">



                                                <input class="form-check-input" type="checkbox"
                                                    name="SolitaryDilatedDuct" #SolitaryDilatedDuct="ngModel"
                                                    *ngIf="service.Patient.clinicalInfo.features"
                                                    [(ngModel)]="service.Patient.clinicalInfo.features.SolitaryDilatedDuct">

                                                <span class="form-check-sign">
                                                    <span class="check"></span>
                                                </span>
                                                SolitaryDilatedDuct
                                            </h5>
                                        </div>
                                    </div>
                                </th>
                                <th>
                                    <div class="form-group focused">
                                        <div class="form-check">
                                            <h5 class="form-control-label"
                                                for="Mammo-history style= margin-right: 15px; padding-top: 5px;">

                                                <input class="form-check-input" type="checkbox"
                                                    name="AxillaryAdenopathy" #AxillaryAdenopathy="ngModel"
                                                    *ngIf="service.Patient.clinicalInfo.features"
                                                    [(ngModel)]="service.Patient.clinicalInfo.features.AxillaryAdenopathy">

                                                <span class="form-check-sign">
                                                    <span class="check"></span>
                                                </span>
                                                AxillaryAdenopathy
                                            </h5>
                                        </div>
                                    </div>
                                </th>
                            </tr>


                        </table>

                    </div>
                </div>

                <div class="form-group float-right mb-2">
                    <button class="btn-sm btn-primary" (click)="t.select('Final-tab')">Next</button>
                </div>
                <div class="form-group float-left mb-2">
                    <button class="btn-sm btn-primary" (click)="t.select('General-tab')">Previous</button>
                </div>



            </ng-template>
        </ngb-tab>

        <!---------------------------- Final Assesment ---------------------------------- -->

        <ngb-tab id="Final-tab" title="Final Assesment">
            <ng-template ngbTabContent>
                <div class="pl-lg-4">
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="form-group focused">
                                <h5 class="form-control-alternative" for="Mammo-history" style="margin-right: 15px;">
                                    BIRADS Categories
                                </h5>
                                <select class="custom-select floa" name="biRadsId" #biRadsId="ngModel"
                                    [(ngModel)]="service.Patient.finalAssessment.biRadsId" style="width: 250px;"
                                    required>
                                    <option value="0"> SELECT</option>
                                    <option *ngFor="let item of BiRadslist" value="{{item.id}}">{{item.name}}
                                    </option>
                                </select>
                                <div *ngIf="form.submitted && biRadsId.errors?.required"
                                    class="text-sm text-red pl-2 pr-2">
                                    Please select Birads</div>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="form-group focused">
                                <h5 class="form-control-alternative" for="Mammo-history" style="margin-right: 15px;">
                                    Recommendation</h5>
                                <select class="custom-select floa" name="recommendationId" #recommendationId="ngModel"
                                    [(ngModel)]="service.Patient.finalAssessment.recommendationId" style="width: 250px;"
                                    required>
                                    <option value="0"> SELECT</option>
                                    <option *ngFor="let item of RecommendationList" value="{{item.id}}">{{item.name}}
                                    </option>
                                </select>
                                <div *ngIf="form.submitted && recommendationId.errors?.required"
                                    class="text-sm text-red pl-2 pr-2">
                                    Please select your Recommendation</div>
                            </div>
                        </div>
                    </div>
                    <br>
                    <div class="row">
                        <div class="col">
                            <div class="form-group focused">
                                <div class="input-group flex-fill">
                                    <textarea class="form-control" placeholder=" Other Recommendations ..." rows=4
                                        name="recommendationText" #recommendationText="ngModel"
                                        [(ngModel)]="service.Patient.finalAssessment.recommendationText"></textarea>
                                </div>
                                <!-- <div *ngIf="form.submitted && recommendationText.errors?.required" class="text-sm text-red pl-2 pr-2">
                                    Please select Birads</div> -->
                            </div>
                        </div>
                    </div>
                    <br>
                    <div class="row">
                        <div class="col">
                            <div class="form-group focused ">
                                <h5 class="form-control-alternative" for="Mammo-history" style="margin-right: 10px;">
                                    Conclusion : </h5>
                                <div class="col">
                                    <div class="input-group">
                                        <textarea class="form-control" placeholder=" Conclusion..." rows="4" name="conc"
                                            #conc="ngModel"
                                            [(ngModel)]="service.Patient.finalAssessment.conc"></textarea>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                    <br>

                    <div class="card-footer text-muted">
                        <button class="btn btn-primary btn-sm  ml-2">Save</button>
                        <div class="clearfix">
                           
                            <div class=" col-md-12 bg-light text-right">
                                <!-- <button href="#!" type="submit" (click)="OnSubmit(form,'Patient')"
                                    class="btn btn-primary btn-sm float-right ml-2">Save</button> -->
                                <!-- <button href="/dash/report" type="submit" class="btn btn-sm btn-primary">Show Report</button> -->
                                <button type="submit" class="btn btn-sm btn-primary float-right "
                                    (click)="onClick('/dash/report',service.Patient.id)">Show Report</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group float-left mb-2">
                    <button class="btn-sm btn-primary" (click)="t.select('Clinical-tab')">Previous</button>
                </div>

            </ng-template>
        </ngb-tab>

    </ngb-tabset>

</form>